<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<title><%= titulo %></title>
<style>
  body {
    background-image: url('/images/lista.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
    margin: 0px auto;
  
  }

  h1 {
    background-color: rgba(17, 170, 231, 0.692);
    display: inline-block;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 0px 8px black;

  }

  img.card-img-top {
    height: 200px;
  }
  div.row{
    
    padding-right: 20px;
  }
  .col-sm-4{
    margin-bottom: 20px;
  }
</style>


<body>
  <br>

<div class="container">
  <h1><%=titulo%></h1>
    <div class="row">
     
    <% usuarios.forEach(element => {
      
   %>
   
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/<%=element.foto%>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=element.nome%></h5>
            <p class="card-text">Email: <%=element.email%></p>
            <p id="senha" class="card-text"> <%="Senha:" + element.senha%></p>
            <a href="#" class="btn btn-primary">Editar</a>
          </div>
        </div>
      </div>
  
    <%});%>
  </div>
</div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
</body>

</html>